body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  background-color: #222;
}


.container {
  box-sizing: border-box;
  margin: 10px auto;
  width: 1200px;
  background: #ccc;
  background-image: url(media/unsolved.jpg);
  background-size: fill;
  background-repeat: no-repeat;
  box-shadow: 2px 2px 3px white;
}
.container h1{
  font-size: 2.5em;
  text-align: center;
  text-shadow: 1px 1px 2px white;
}
.cards {
  margin: 50px auto;
  width: 90%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cards p {
  margin: 1px;
  font-weight: 300;
  background-color: #fff;
}

.killer-deck {
  width: 250px;
  height: 400px;
  background: #000;
  text-align: center;
  padding-top: 30px;
  border-radius: 16px;
}

.weapon-deck {
  width: 250px;
  height: 400px;
  background: rgb(10, 53, 10);
  text-align: center;
  padding-top: 30px;
  border-radius: 16px;
}

.room-deck {
  width: 250px;
  height: 400px;
  background: midnightblue;

  text-align: center;
  padding-top: 30px;
  border-radius: 16px;
}
.time-deck {
  width: 250px;
  height: 400px;
  background: darkred;

  text-align: center;
  padding-top: 30px;
  border-radius: 16px;
}


.reveal{
  height: 150px;
}

.reveal p{
  font-size: 1.3em;
  color: white;
  text-shadow: 1px 1px 2px black;
  text-align: center;
}

button {
  padding: 8px 16px;
  background: crimson;
  border: none;
  font-size: 20px;
  border-radius: 8px;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 1200px){
.container {
  width: 90vw;
  
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

}


@media screen and (max-width: 992px){
  .container {
  width: 95vw;
  
}

.cards {
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

}


@media screen and (max-width: 576px){
.cards {

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

}