body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}

p {
  margin: 1px;
  font-weight: 300;
  background-color: #fff;
}

.cards {
  margin: 50px auto;
  width: 90%;
  height: 600px;
  background: #ccc;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid;
  padding: 10px;
  box-shadow: 10px 15px 20px #888888;
}

.killer-deck {
  width: 250px;
  height: 400px;
  background: #000;
  text-align: center;
  padding-top: 30px;
  border-radius: 16px;
}

.weapon-deck {
  width: 250px;
  height: 400px;
  background: rgb(10, 53, 10);
  text-align: center;
  padding-top: 30px;
  border-radius: 16px;
}

.room-deck {
  width: 250px;
  height: 400px;
  background: midnightblue;

  text-align: center;
  padding-top: 30px;
  border-radius: 16px;
}

button {
  padding: 8px 16px;
  background: rgb(122, 223, 152);
  border: none;
  font-size: 20px;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
}
