:root {
  --color-red: #ee1c25;
}

*:focus {
  outline: none;
}

html {
  height: 100%;
}

body {
  margin: 0;
  background: linear-gradient(#103d58, #10182c);
  font-family: "Raleway", sans-serif;
}

p {
  color: #fff;
}

h1,
h2 {
  color: var(--color-red);
}

h1 {
  font-family: 'Playfair Display';
  font-size: 2rem;
  text-transform: uppercase;
}

.cards {
  margin: 50px auto;
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}



[class*="-deck"] {
  background-color: #000;
}

.killer-deck {
  width: 250px;
  height: 400px;
  text-align: center;
  padding-top: 30px;
  border-radius: 16px;
}

.weapon-deck {
  width: 250px;
  height: 400px;
  text-align: center;
  padding-top: 30px;
  border-radius: 16px;
}

.room-deck {
  width: 250px;
  height: 400px;
  text-align: center;
  padding-top: 30px;
  border-radius: 16px;
}

button {
  padding: 1rem;
  background: transparent;
  font-family: 'Playfair Display';
  color: var(--color-red);
  border: none;
  border-bottom: 2px solid var(--color-red);
  font-size: 1.6rem;
  display: block;
  margin: 0 auto;
}

h2.reveal-message {
  margin: 3rem auto;
  max-width: 40rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}