body {
  margin: auto;
  font-family: "Courier New", Courier, monospace;
  height: 100%;
  max-width: 1600px;
  background: rgb(79, 79, 157);
  text-align: center;
}

header {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
header img {
  width: 100%;
  height: auto;
  max-height: 480px;
  object-fit: cover;
  object-position: center top;
}

h1,
h2 {
  text-align: center;
  font-size: 28px;
}
h1 {
  color: #fff;
}
p {
  margin: 1px;
  font-weight: 300;
  background-color: #fff;
}

.cards {
  margin: 20px auto 40px;
  width: 90%;
  align-items: center;
}

.cards img {
  height: 50%;
  width: auto;
  margin-top: 20px;
}

.deck {
  margin: 20px auto;
  width: 250px;
  height: 300px;
  text-align: center;
  padding-top: 30px;
  border-radius: 16px;
}

.deck:hover {
  transform: translateY(-10px);
  transition: 0.3s ease-out;
}

#killer {
  background: #000;
}

#weapon {
  background: rgb(10, 53, 10);
}

#room {
  background: midnightblue;
}

#times {
  background: rgb(12, 92, 191);
}

button {
  padding: 8px 16px;
  background: crimson;
  border: none;
  font-size: 20px;
  border-radius: 8px;
  display: block;
  margin: 0 auto 50px;
}

#mystery {
  width: 80%;
  margin: 10px auto 20px;
  text-align: center;
}

#mystery p {
  background: #fff;
  border-radius: 10px;
  padding: 5px;
}

#mystery img {
  display: block;
  width: 100%;
  max-width: 400px;
  margin: auto;
  animation: boing 0.5s;
}

footer p {
  padding: 20px;
  background: rgb(79, 79, 157);
  text-align: center;
}

/** Media Queries**/

@media (min-width: 668px) {
  h1 {
    font-size: 34px;
    line-height: 40px;
  }
  h2 {
    margin-top: 40px;
    text-align: center;
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
  }

  .deck {
    width: 250px;
    height: 400px;
  }

  .deck:hover {
    transform: translateY(-20px);
    transition: 0.3s ease-out;
  }

  #mystery {
    font-size: 28px;
  }
}

@media (min-width: 1025px) {
  header img {
    width: 80%;
  }

  h1 {
    font-size: 38px;
  }

  .deck:hover {
    transform: translateY(-20px);
  }

  .deck {
    width: 250px;
    height: 400px;
  }

  #mystery {
    margin: 40px auto;
  }
}

@keyframes boing {
  15%,
  40%,
  75%,
  100% {
    transform-origin: center center;
  }
  15% {
    transform: scale(1.2, 1.1);
  }
  40% {
    transform: scale(0.95, 0.95);
  }
  75% {
    transform: scale(1.05, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
