body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}

p {
  margin: 1px;
  font-weight: 300;
  background-color: #fff;
}

.cards {
  margin: 50px auto;
  width: 90%;
  height: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.killer-deck {
  width: 250px;
  height: 400px;
  background: rgb(243, 87, 87);
  text-align: center;
  padding-top: 30px;
  border-radius: 16px;
}

.weapon-deck {
  width: 250px;
  height: 400px;
  background: rgb(106, 119, 241);
  text-align: center;
  padding-top: 30px;
  border-radius: 16px;
}

.room-deck {
  width: 250px;
  height: 400px;
  background: rgb(164, 248, 125);

  text-align: center;
  padding-top: 30px;
  border-radius: 16px;
}

button {
  padding: 8px 16px;
  background: rgb(121, 77, 85);
  border: none;
  font-size: 20px;
  border-radius: 8px;
  display: block;
  margin: 0 auto;
  color: rgb(231, 195, 195);
}
