body {
  font-family: 'Alata', sans-serif;
  background-color:#9a9a9a;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/zoltan-tasi-unsplash.jpg");
  background-position: no-repeat;
  height: 400px;
  margin: -15px;
  margin-top: -25px;
}

h1 {
 color: #fff;
 margin-top: 25px;
 text-shadow: 0 -1px 4px #FFF, 0 -2px 10px rgb(221, 152, 3), 0 -10px 20px #a05103, 0 -18px 40px #a10564;
}

p {
  margin: 1px;
  font-weight: 300;
  background-color: #fff;
}

img {
  margin-top: 10px;
  margin-bottom: 10px;
}

.cards {
  margin: 50px auto;
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top:20px;
  margin-bottom: 20px;
}

.killer-deck {
  width: 250px;
  height: 400px;
  background: #000;
  text-align: center;
  padding-top: 30px;
  border-radius: 16px;
  margin-top:20px;
  margin-bottom: 20px;
  box-shadow: 5px 2px 3px 0 #666666;
}

.weapon-deck {
  width: 250px;
  height: 400px;
  background: rgb(10, 53, 10);
  text-align: center;
  padding-top: 30px;
  border-radius: 16px;
  margin-top:20px;
  margin-bottom: 20px;
  box-shadow: 5px 2px 3px 0 #666666;
}

.room-deck {
  width: 250px;
  height: 400px;
  background: midnightblue;
  text-align: center;
  padding-top: 30px;
  border-radius: 16px;
  margin-top:20px;
  margin-bottom: 20px;
  box-shadow: 5px 2px 3px 0 #666666;
}

button {
  padding: 8px 16px;
  background: #a10564;
  border: none;
  font-size: 20px;
  border-radius: 8px;
  display: block;
  margin: 0 auto;
  box-shadow: 5px 2px 3px 0 #666666;
  font-family: 'Alata', sans-serif;
  margin-top: 10px;
  margin-bottom: 20px;
}

#mystery {
  margin: 0 auto;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
}

@media screen and (min-width: 668px) {
  .cards {
    margin: 50px auto;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top:20px;
    margin-bottom: 20px;
  }

  .killer-deck{
    width:200px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .weapon-deck{
    width:200px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .room-deck{
    width:200px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
